#img_bg {
    height: 1000px;
    width: 1903px;
    background: url("FondValorant.jpg");
    background-size: cover;
    position: absolute;
    }

#img_bg2 img {
    height: 500px;
    width: 1000px;
    position: absolute;
    }

#img_bg3 img {
    height: 500px;
    width: 1000px;
    position: absolute;
    left: 903px;
    bottom: 2550px;
}

#img_bg4 img {
    height: 1250px;
    width: 1800px;
}

#img_bg5 {
    height: 1100px;
    width: 1903px;
    position: absolute;
    bottom: 1707px;
}

#img_titre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 300px;
    }

#img_titre img {
    height: 250px;
    width: 800px;
    position: relative;
    }

#carouselExampleIndicators {
    height: 475px;
    width: 800px;
    position: relative;
    bottom: -55px;
    left: 1000px;
    }

#carouselExampleIndicators2 {
    height: 475px;
    width: 800px;
    position: relative;
    bottom: -110px;
    left: 100px;
}

#carouselExampleCaptions {
    position: relative;
    left: 275px;
    bottom: -10px;
}

#section1 {
    width: 500px;
    position: relative;
    bottom: 900px;
    left: 75px;
    color: #fff;
    }

#section2 {
    width: 500px;
    position: relative;
    bottom: 658px;
    left: 1025px;
    color: #fff;
    }

#section3 {
    position: relative;
    }

@font-face {
    font-family: 'Valorant';
    src : url('ValorantFont.ttf') format('truetype');
    }

body {
    font-family: 'Valorant', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    position: relative;
    right: 304px;
}

.container img {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.nav-link {
    color: white !important;
  display: inline-block;
  background-color: #800000;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 17px;
  padding: 15px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .5s ease;
}

.nav-link:active{
    transform: translate(0,5px);
    -webkit-transform: translate(0,5px);
    border-bottom: 1px solid;
}

.nav-link:hover {
    color: #001F3F;
    background-color: red;
}

.boutonhome:active{
    transform: translate(0,5px);
    -webkit-transform: translate(0,5px);
    border-bottom: 1px solid;
}

.boutonhome{
    color: white !important;
    background-color: red;
    border-radius: 30px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    transition: all .1s;
    -webkit-transition: all .1s;
    list-style-type: none;
    float: right;
    text-decoration: none;
    pointer-events: auto;
}

.navbar navbar-expand-lg navbar-light bg-dark {
    behavior: smooth;
}
